* {
  box-sizing: border-box;
}

body {
  background: cornsilk;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  display: flex;
  justify-content: center;
}
h2 {
  font-style: italic;
  font-weight: lighter;
}
article {
  /* display: block; */
  border-style: solid;
  padding: 1em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.sec1 {
  display: block;
  width: 25%;
}
.sec2 {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-top: auto;
}
.sec3 {
  display: block;
  width: 25%;
  margin-left: 75%;
  margin-top: auto;
}
