* {
  box-sizing: border-box;
}
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  background: cornsilk;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-style: italic;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
article {
  border-style: solid;
  padding: 1em;
}
.img {
  width: 65%;
}
.imgfinn {
  width: 50%;
  float: left;
}
.box {
  display: flex;
  flex-direction: row;
}
.floated {
  float: right;
  width: 50%;
  margin-top: 0;
  padding-left: 1em;
}
.sec1 {
  width: 25%;
}
.sec2 {
  width: 50%;
  float: left;
}
.sec3 {
  width: 25%;
}
.sec4 {
  width: 75%;
  border-style: solid;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  list-style: none;
  height: 100%;
}
.weather {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  /* height: 100px; */
  flex: 1;
}
.politics {
  background-color: rgb(112, 155, 130);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  flex: 1;
}
.sports {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  flex: 1;
}
.local {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  flex: 1;
}
.tech {
  background-color: violet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  flex: 1;
}
